*{
	box-sizing: border-box;
}
body{
	margin-left: 2em;
	font-family: "Open Sans";
}
nav{
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

	justify-content: flex-start;
}
ul{
	padding: 0;
	margin: 0.3em 0 0.3em 0;
	list-style: none;
}
a{
	color: black;
	text-decoration: none;
	font-weight: 600;
}
li{
	background-color: lightgrey;
	padding: 0.3em 0.5em;
	margin: 0 0.2em 0 0.2em;
	display: inline-block;
}
form{
	width:80%;
	max-width: 600px;
	display: flex;
	flex-flow: column;
}
fieldset{
	margin: 0.5em;
	border: 0;
}
legend{
	font-style: italic;
}
article{
	width: 80%;
	height: auto;
	font-size: 1.02em;
	margin-top: 5em;
}
h2{
	font-size: 5vw;
	font-variant: small-caps;
	font-family: "Avenir";
	font-weight:600;
	letter-spacing: 0.1em;
	margin: 0;
}
p{
	font-family: "Century Schoolbook";
}
.longText{
	-moz-column-width: 20em;
	-moz-columns: 20em;
	-webkit-columns: 20em;
	columns: 20em;
	
	max-width: 800px;
	
	-moz-column-gap: 5em;
	-webkit-column-gap: 5em;
	column-gap: 5em;
}

body>footer{
	margin-top: 10em;
}
article>footer{
	margin-top: 1em;
}

@media(max-width:35em){
	fieldset{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap ;
	}
	nav{
		flex-direction: column;
	}
	li{
		display: block;
		width:40%;
		height: auto;
		margin: 0.5em 0;
	}
	ul{
		margin:0;
	}
}