*{
	box-sizing: border-box;
}
body{
	font-family: "Avenir";
	margin:1.618em;
	background-color: white;
	line-height: 1.618em;
	text-rendering: optimizeLegibility;
	background-color:rgb(231,230,233);
}

nav{
	margin:0.832em;
	justify-content: flex-end;
	text-align: right;
	/*
	background-image:url();
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	*/
}

ul{
	list-style: none;
	padding:0;
	margin: 0;
}

li{
	margin-top: 0.4em;
}

li>a{
	text-decoration: none;
	color:rgb(0,50,100);
	font-weight: 600;
}

#titel{
	font-style: italic;
	color:white;
	background-color:rgb(0,50,100);
	padding:0.3em 0.5em;
	display: inline-block;
}

div a{
	text-decoration: none;
	margin-top: 0.5em;
}

.expanded a{
	color:white;
	background-color: rgb(0,50,100);
	display: inline-block;
	padding: 0.5em;
}

.expanded #login{
	display: flex;
}

#login div{
	background-color: rgb(0,50,100);
	color: white;
	padding: 1em;
	display: block;
	margin:0;
	margin-left: auto;
}

#login{
	display: none;
}

input[type="email"]{
	background-color: white;
	color: 	hsla(27,9%,62%,0.80);
	min-width: 25em;
}

label{
	display: none;
}

fieldset{
	border-style: none;
	padding: 0;
	margin:0.832em;
}

input{
	background-color:rgb(0,110,154);
	color: white;
	border-style: none;
	font-size:0.832em;
	padding:0.3em 0.7em;
	margin:0.5em 0 0 0.2em;
	letter-spacing: 0.12em;
}

.selected{
	background-color: rgb(255,200,70);
	color:black;
}

fieldset a{
	color:rgb(0,110,154);
	text-decoration: none;
	display: block;
	margin-top:0.5em;
}

aside{
	padding:0.05em;
	background-color: white;
	margin-top:1.618em;
	max-width: 35rem;
}

aside>p{
	margin:0.832em;
	font-style: italic;
	color:rgb(0,50,100);
}

article{
	padding:1.618em;
	margin-top: 1.5em;
	max-width: 70rem;
	box-shadow: 1em 1em 5em hsla(27,9%,62%,0.20);
	border: 0.1em solid white
}

article>header>label{
	font-style: italic;
}

h2{
	margin: 0;
	max-width: 20em;
	line-height: 1.45em;
	color:rgb(0,50,100);
	letter-spacing: 0.04em;
}

article>p{
	font-family: "Century Schoolbook";
}

article a{
	color:rgb(0,110,154);
	text-decoration: underline;
}

article>footer{
	display: flex;
	justify-content: flex-end;
}

@media (max-width:30rem){
	article>footer{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	}
	input[type="email"]{
	min-width: 10em;
	}
	#login div{
	margin-left:1em;
	}

}

@media (min-width:35rem){
	article>p{
		columns:22em;
		column-count: 2;
		column-gap: 2em;
		max-width: 80vw;
	}
	nav{
		flex-direction: column;
	}
}

@media (max-width:35rem){
	nav{
		display: flex;
	}
	ul{
		width: 100vw;
	}
	nav>ul:first-child{
		align-self: flex-start;
		text-align: left;
	}
}
@media (min-width:90rem){
	main{
  		display: flex;
		flex-wrap: wrap;
	}
	article{
		max-width: 50rem;
		margin-right: 3em;
	}
	article:nth-child(even){
		width: 30rem;
	}
}