*{
	box-sizing: border-box;
}
body{
	font-family: "Avenir";
	margin:1.618em;
	background-color:rgb(231,230,233);
	line-height: 1.618em;
}

nav{
	margin:0.832em;
	justify-content: flex-end;
	text-align: right;
}

fieldset>label{
	display: none;
}

ul{
	list-style: none;
	padding:0;
	margin: 0;
}

li{
	margin-top: 0.4em;
}

li>a{
	text-decoration: none;
	color:rgb(0,50,100);
	font-weight: 600;
}

fieldset{
	border-style: none;
	padding: 0;
	margin:0.832em;
}

input{
	background-color:rgb(0,110,154);
	color: white;
	letter-spacing: 0.075em;
	border-style: none;
	font-size:0.832em;
	padding:0.3em 0.7em;
	margin:0.5em 0 0 0.2em;
}

.selected{
	background-color: rgb(255,200,70);
	color:black;
}

aside{
	padding:0.05em;
	background-color: white;
	margin-top:1.618em;
}

aside>p{
	margin:0.832em;
	font-style: italic;
	color:rgb(0,50,100);
}

article{
	padding:0.832em;
	margin-top: 1.5em;
	max-width: 70rem;
}

article>header>label{
	font-style: italic;
}

h2{
	margin: 0;
	max-width: 20em;
	line-height: 1.45em;
	color:rgb(0,50,100);
}

article>p{
	font-family: "Century Schoolbook";
}

article a{
	color:rgb(0,110,154);
}

@media (min-width:35rem){
	article>p{
		columns:22em;
		column-count: 2;
		column-gap: 2em;
		max-width: 80vw;
	}
	nav{
		flex-direction: column;
	}
}

@media (max-width:35rem){
	nav{
		display: flex;
	}
	ul{
		width: 100vw;
	}
	nav>ul:first-child{
		align-self: flex-start;
		text-align: left;
	}
}
@media (min-width:90rem){
	main{
  		display: flex;
		flex-wrap: wrap;
		align-items: flex-end
	}
	article{
		max-width: 50rem;
		margin-right: 3em;
	}
	article:nth-child(even){
		width: 30rem;
	}
}