h1 {
 background-color: transparent;
}

nav ul a {
 color: #e7e6e9;
}

h2 {
 display: none;
} 

body{
 background-color: #003264;
}

article {
 border: none;
 padding: 1em;
 margin: 1em;
 max-width: 35em;
}

article:hover {
 transform: none;
}

address {
 color: #e7e6e9;
}

@keyframes opacity {
 from {
  opacity: 0.7;       
 }
 to {
  opacity: 0;
 }
}
body>header {
 display: block;
 width: 100%;
}

img[src="images/droom_titel.svg"] {
 z-index: -1;
 position: absolute;
 top: 0;
 left: -50vw;
 width: 200vw;
 height: 200vh;
    
 animation-duration: 3s;
 animation-name: opacity;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

p {
 margin: 0.5em;
 padding: 0;
 color: white;
}

.faded {
 animation-name: opacity;
 animation-duration: 10s;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

.faded2 {
 animation-name: opacity;
 animation-duration: 5s;
 animation-iteration-count: infinite;
 animation-direction: alternate; 
}

@keyframes colorFade {
 from {
  color: #ef3d23;
 }
 to {
  color: #f9d777;
 }
}

.redToYellow {
 animation-name: colorFade;
 animation-duration: 5s;
 animation-iteration-count: infinite;
 animation-direction: alternate; 
}

@keyframes sizing {
 from {
  font-size: 1.2rem;;
 }
 to {
  font-size: 0.2rem;;
 }
}

.smaller {
 animation-name: sizing;
 animation-duration: 5s;
 animation-iteration-count: infinite;
 animation-direction: alternate; 
}

img[src="images/lijnen_3d.png"]{
 width: 100vw;
 height: auto;
 z-index: -2;
 position: absolute;
 top: 30em;
 left: 0;
 opacity: 0.3;
}

img[src="images/cirkels_3d_alt.png"]{
 width: 100vw;
 height: auto;
 z-index: -3;
 position: absolute;
 top: -20em;
 left: 0;
 opacity: 0.8;
}

@media (max-width: 35rem) {
 header {
  width: 100vw;
 }
 img[src="images/droom_titel.svg"] {
  position: fixed;
  top: 0;
  left: -5em;
  max-width: 150vw;
  height: auto;
 }
 article {
  margin: 0;
 }
 p {
  margin: 0.5em 0 0 0;
 }
}