h2 {
 display: none;
}

span {
 padding: 0.2em;
}

article {
 border: none;
 padding: 1em;
 margin: 1em;
 max-width: 35em;
}

article:hover {
 transform: none;
}

.bg_image_container {
 width: 80vw;
 height: auto;
}

@keyframes opacity {
 from {
  opacity: 0.8;       
 }
 to {
  opacity: 0;
 }
}
body>header {
 display: block;
 width: 100%;
}

img[src="images/droom_titel.svg"] {
 z-index: -1;
 position: absolute;
 top: 0;
 left: -50vw;
 width: 200vw;
 height: 200vh;
    
 animation-duration: 3s;
 animation-name: opacity;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

p {
 margin: 0.5em;
 padding: 0;
}

.faded {
 animation-name: opacity;
 animation-duration: 10s;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

.faded2 {
 animation-name: opacity;
 animation-duration: 5s;
 animation-iteration-count: infinite;
 animation-direction: alternate; 
}

@keyframes colorFade {
    from {
     color: #ef3d23;
    }
    to {
     color: #f9d777;
    }
}

.redToYellow {
 animation-name: colorFade;
 animation-duration: 5s;
 animation-iteration-count: infinite;
 animation-direction: alternate; 
}

@keyframes sizing {
    from {
        font-size: 1.2rem;;
    }
    to {
        font-size: 0.2rem;;
    }
}

.smaller {
 animation-name: sizing;
 animation-duration: 5s;
 animation-iteration-count: infinite;
 animation-direction: alternate; 
}

@media (max-width: 35rem) {
 header {
  width: 100vw;
 }
 article {
  margin: 0;
 }
 p {
  margin: 0.5em 0 0 0;
 }
}