@keyframes opacity {
 from {
  opacity: 1;       
 }
 to {
  opacity: 0;
 }
}

@keyframes text_1 {
 from {
  position: absolute;
  top: 10em;
  left: 10vw;
 }
 to {
  position: absolute;
  top: 80em;
  left: 2em;
 }
}

@keyframes text_2 {
 from {
  position: absolute;
  top: 40em;
  left: 10vw;
 }
 to {
  position: absolute;
  top: 120em;
  left: 5em;
 }
}

main {
 display: flex;
 justify-content: center;   
}

h2 {
 display: none;
}

span {
 padding: 0.2em;
}

article {
 border: none;
 padding: 1em;
 margin: 1em;
 max-width: 35em;
}

article:hover {
 transform: none;
}

img[src="images/droom_titel.svg"] {
 z-index: -1;
 position: absolute;
 top: 0;
 left: -50vw;
 width: 200vw;
 height: auto;
    
 animation-duration: 3s;
 animation-name: opacity;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

address {
 display: block;
}

p {
 margin: 0.5em;
 padding: 0;
 max-width: 30em;
}

p:first-of-type {
 animation-duration: 20s;
 animation-name: text_1;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

p:nth-of-type(2) {
 animation-duration: 30s;
 animation-name: text_2;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

@media (max-width: 35rem) {
 header {
  width: 100vw;
 }
 article {
  margin: 0;
 }
 p {
  margin: 0.5em 0 0 0;
 }
}