body {
 display: block;
}

main {
    max-width: 35rem;
}

form {
 background-color: #e7e6e9;
 padding: 1em;
 background-color: #003264;
 color: white;
 box-shadow: 0px 0.1em 0px 0px rgba(0,0,0,0.2);
}

fieldset {
 border: none;
 margin: 0;
 max-width: 35rem;
 padding: 0;
}

form:invalid {
    background-color: #2e2e2e;
}

form {
 display: block;
}

legend {
 font-family: 'ns_sans_bold';
 font-size: 1.2em;
 padding: 1em 0 1em 0;
}

input {
 display: block;
 margin: 1em;
 font-size: 1em;
 padding: 0.5em;
 border: none;
 transition:all .2s;
 color: #007ab9
}

input[type="email"], input[type="password"] {
    min-width: 20rem;
}

input:focus {
  transform: scale(1.1, 1.1);
}

input:invalid {
  color: #2e2e2e;
}

:optional {
  opacity: 0.4;
}

:optional:hover, :optional:focus  {
  opacity: 1;
}

input[type="submit"]{
    text-decoration: none;
    background-color: #007ab9;
    color: white;
    padding: 0.5em 0.7em;
    box-shadow: 0px 0.1em 0px 0px rgba(0,0,0,0.2);
    opacity: 1;
}

i {
 font-size: 0.8em;
 display: block;
 
}

form a[href="#"] {
    font-family: 'ns_sans';
    font-size: 0.8em;
}

.form_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

aside {
    display: block;
    padding: 1em;
    margin-left: 2em;
    max-width: 25rem;
}

h2 {
 font-family: 'ns_sans_bold';
 font-size: 1.2em;
 padding: 1em 0 1em 0;
}

aside ul {
    padding: 0;
}

aside li {
    padding: 0.5em;
    list-style: circle;
    font-style: italic;
}

@media (max-width:25rem) {
    input[type="email"], input[type="password"] {
    min-width: 0;
    }
}