body>header {
 display: block;
 width: 100%;
}
h2 {
 display: none;
}

span {
 padding: 0.2em;
}

article {
 border: none;
 padding: 1em;
 margin: 1em;
 max-width: 35em;
}

article:hover {
 transform: none;
}

img[src="images/enigzins.svg"] {
 width: inherit;
 height: auto;
 background-color: #7f47dd;
 padding: 1em;
}

img[src="images/aan_de_omslachtige_kant.svg"] {
 width: inherit;
 height: auto;
 position: absolute;
 top: 50vh;
 left: 0;
 padding: 1em;
}

h2 {
 display: none;
}

p {
 margin: 0.5em;
 padding: 0;
}

button {
 font-size: 1.2rem;
 padding: 0.5em;
 margin: 0.5em;
}

.stap1 {
 display: none;
 background-color: #7dc142;
 padding: 1em;
 position: relative;
 left: -1em;
}

.stap2 {
 display: none;
 background-color: #fdeee9;
 padding: 1em;
 position: relative;
 left: 2em;
}

.expanded { 
 display: block;
}

.noshow {
 display: none;
}

@media (max-width: 35rem) {
 header {
  width: 100vw;
 }
 img[src="images/enigzins.svg"] {
  width: 100vw;
  height: auto;
 }
 img[src="images/aan_de_omslachtige_kant.svg"] {
  width: 100vw;
  height: auto;
 }
 article {
  margin: 0;
 }
 p {
  margin: 0.5em 0 0 0;
 }
}