h2 {
 display: none;
}

span {
 padding: 0.2em;
}

article {
 border: none;
 padding: 1em;
 margin: 1em;
 max-width: 35em;
}

article:hover {
 transform: none;
}

p {
 margin: 0.5em;
 padding: 0;
}

@media (max-width: 35rem) {
 header {
  width: 100vw;
 }
 article {
  margin: 0;
 }
 p {
  margin: 0.5em 0 0 0;
 }
}