@keyframes rotate {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(150deg);
 }
}

@keyframes scale {
    from {
        transform: scale(1) rotate(-20deg);
    }
    to {
        transform: scale(3) rotate(20deg);
    }
}

main {
 display: flex;
 justify-content: center;   
}

header {
 z-index: 2;
}

.shape_container {
 display: flex;
 flex-wrap: wrap;
}

#rectangle_1{
 background-color: #b72531;
 width: 60vh;
 height: 40vw;
 position: absolute;
 top: 2em;
 left: 0em;
 z-index:0;
 transform: rotate(10deg);
	
 animation-duration: 5s;
 animation-name: rotate;
 animation-iteration-count: infinite;
 animation-direction: alternate;

 mix-blend-mode: multiply;
}

#triangle_1{
 width: 0;
 height: 0;
 border-left: 10vw solid transparent;
 border-right: 10vw solid transparent;
 border-bottom: 18vw solid #003264;
 position: absolute;
 left: 15em;
 top: 1.5em;
 transform: rotate(50deg);
 z-index: 0;
 mix-blend-mode: difference;
}

#triangle_2{
 width: 0;
 height: 0;
 border-left: 5vw solid transparent;
 border-right: 5vw solid transparent;
 border-bottom: 8vw solid #82bbe6;
 position: absolute;
 right: 15vw;
 top: 3em;
 transform: rotate(150deg);
 z-index: 0;
 mix-blend-mode: difference;
}

#rectangle_2{
 background-color: #ffc846;
 width: 30vw;
 height: 30vh;
 position: absolute;
 top: 1em;
 right: 0;
 z-index: 0;
 transform: rotate(-20deg);
 mix-blend-mode: difference;
    
 animation-duration: 4s;
 animation-name: scale;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

#rectangle_3{
 background-color: #82bbe6;
 width: 50%;
 height: 50%;
 border: dashed #2e2e2e; 
 opacity: 0.7;
 border-radius: 100%;
 position: absolute;
 top: 50em;
 right: 0em;
 z-index: 0;
 transform: rotate(-20deg);
 mix-blend-mode: difference;
}

h2 {
 font-family: 'ns_sans_bold';
 text-transform: uppercase;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 margin: 1em;
 max-width: 100%;
}

span {
 padding: 0.2em;
 mix-blend-mode: difference;
}

#o {
 color: #f3f3f3;
}
#n {
 color: #ffc846;
 /*mix-blend-mode: screen;*/
 font-size: 2em;
 transform: rotate(-20deg);
}
#g {
 color: #f9873a;
 font-size: 5em;
 transform: rotate(5deg);
}

#e {
 color: #f3f3f3;
}

#l {
 color: #2e2e2e;
 transform: rotate(-35deg);
}

#u {
 color: #007ab9;
 transform: rotate(35deg);
 font-size: 2.5em;
}

#k {
 color: #2e2e2e;
}

article {
 border: none;
 padding: 1em;
 margin: 1em;
 max-width: 35em;
}

article:hover {
 transform: none;
}

p {
 margin: 0.5em;
 padding: 0;
}

@media (max-width: 35rem) {
 header {
  width: 100vw;
 }
 article {
  margin: 0;
 }
 p {
  margin: 0.5em 0 0 0;
 }
}