@font-face { 
    font-family: 'ns_sans'; 
    src: url('font/ns_sans.ttf') format('truetype'); 
} 

@font-face { 
    font-family: 'ns_sans_bold'; 
    src: url('font/ns_sans_bold.ttf') format('truetype'); 
} 

* {
    box-sizing: border-box;
} 

body {
    background-color: #e7e6e9;
    font-family: 'ns_sans', 'Open Sans', 'Helvetica', sans-serif;
    line-height: 1.6em;
    color: #2e2e2e;
    font-size: 1.2rem;
    overflow-x: hidden;
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 1em;
    font-family: 'ns_sans_bold';
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul:nth-of-type(2) {
    margin-left: auto;
    text-align: right;
}

nav li {
    padding: 0.5em;
}

nav li a{
    text-decoration: none;
}

nav li:nth-of-type(3) {
    margin-left: auto;
}

li a {
    color: #2e2e2e; 
}

nav a[href="index.html"] {
    background-color: #2e2e2e;
    color: white;
    padding: 0.5em;
    font-family: 'ns_sans';
}

nav img {
    width: 1rem;
    height: auto;
    margin: 0 0.5em 0 0.5em;
}

form {
    border: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    background-color: #2e2e2e;
}

form a {
    text-decoration: none;
    color: white;
    padding: 1em;
}

form img {
    width: 0.8rem;
    height: auto;
    margin-left: 0.5em;
}

form ul li {
    list-style: none;
    color: white;
    padding: 0.5em;
}

.sfeerwoord_noshow, .sorteren_noshow, .leestijd_noshow {
    display: none;
    padding: 0;
    margin: 0;
}

form div {
    position: relative;
}

.drop {
    display: block;
    position: absolute;
    top: 2em;
    background-color: #2e2e2e;
    padding: 0.5em;
}

.opties {
    font-size: 0.7em;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

aside {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
}

article {
    width: 25em;
    min-height: 10em;
    margin: 1em;
    box-shadow: 0px 0.2em 0px 0px rgba(0,0,0,0.2);
    background-color: white;
    padding: 1em;
}

article a {
    color: #2e2e2e;
    text-decoration: none;
}

article footer {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
}

article p a {
    text-decoration: underline;
    color: #007ab9;
}

h2 {
    margin: 0.2em 0 0.5em 0;
    font-family: 'ns_sans_bold';
    color: #003264;
}

.droom_header_image {
    width: 25em;
    height:5em;
    background-image: url(images/droom_thumb.svg);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: top;
    background-color: #003264;
    position: relative;
    top: -1em;
    left: -1em;
}

.ongeluk_header_img {
    width: 25em;
    height:5em;
    background-image: url(images/ongeluk_thumb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: #a59b94;
    position: relative;
    top: -1em;
    left: -1em;
}


.omslachtig {
    background-image: url(images/omslachtig_thumb.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 20em;
    width: 52em;
    display: flex;
}

.omslachtig_wrap {
    align-self: flex-end;
}

.omslachtig h2{
    display: none;
}

.omslachtig footer{
    width: 50.5em;
}

address {
    font-size: 0.8em;
    margin-bottom: 1em;
}

.author {
    font-family: 'ns_sans_bold';
}

a[href="omslachtig.html"]{
    text-decoration: none;
    background-color: #007ab9;
    color: white;
    padding: 0.5em 0.7em;
    box-shadow: 0px 0.1em 0px 0px rgba(0,0,0,0.2);
}

article p a img {
    width: 0.85em;
    height: auto;
    margin: 0 1em 0 0.5em;
}

.omslachtig footer a {
    color: white;
    text-decoration: none;
}

article img {
    width: 1rem;
    height: auto;
    margin: 0 0.5em 0 0.5em;
}

.omslachtig footer img {
    width: 1.3rem;
}

article footer a:nth-of-type(3){
    margin-left: auto;
}